<style type="text/css" media="screen">
    .main-bg{ position: fixed;top: 0;bottom: 0;left: 0;right: 0; width: 100%; background: url('/style/image/it.jpg') no-repeat; background-size: 100% 100%; -moz-background-size: 100% 100%; -webkit-background-size: 100% 100%;}
    .main-title{ position: fixed; top: 50%; left: 50%; z-index: 1; -webkit-transform:translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); height: auto; color: #fff; font-size: 3rem; text-align: center;}
    /*头部*/
    .header{ padding: 20px 40px 0; }
    .header-logo{ width: 40px;  float: left; }
    .header-left{ position: absolute; color: #fff; font-size: 1.5rem; line-height: 2.5rem;vertical-align: middle;}
    .header-title{ margin-left: 20px; }
    .login-two{ position: relative; right: 0; }
    .btn-public{  color: #fff; float: right; margin-left: 10px; background: transparent; }
    .btn-public:hover{ background-color: #409EFF; }
    .el-input{  width: 60%; }
    .send-code{ margin-left: 15px; }
    .dialog-footer{ text-align: right; }
    /*学生*/
    .btn-github{ display: block; text-align: center; margin-top: 30px; margin-bottom: 40px; }
    .btn-github-login{ padding-left: 10%;padding-right: 10%; }
</style>
<div id="hello">
    <div class="main-bg">
        <p class="main-title">
            技术 · 共享 · 学习
        </p>
    </div>
    <div class="header clearfloat">
        <div class="header-left">
            <img src="/style/image/github3-white.png" alt="默认头像" class="picb header-logo"/>
            <span class="header-title">
                基于GitHub作业统计系统
            </span>
        </div>
        <div id="login" class="clearfloat">
            <div class="login-two">
                <el-button type="primary" class="btn-public" @click.native="dialogSwitch('res')">
                    注册
                </el-button>
                <el-button type="primary" class="btn-public" @click.native="dialogSwitch('login')">
                    登录
                </el-button>
            </div>
            <div class="relative">
                <el-dialog :title="dialogStatus=='res' ? '注册' : '登录'" :visible.sync="isDialog" center>
                    <template>
                        <el-tabs v-model="activeName" @tab-click="handleClick">
                            <el-tab-pane label="我是学生" name="student">
                                <a class="btn-github" href="/login/loginGit">
                                    <el-button type="primary">
                                        <i class="el-icon-fa-github" aria-hidden="true">
                                        </i>
                                        关联 GitHub
                                    </el-button>
                                </a>
                            </el-tab-pane>
                            <el-tab-pane label="我是教师" name="teacher">
                                <template>
                                    <el-form :model="loginForm" ref="loginForm" :rules="rulesForm" status-icon>
                                        <el-form-item type="text" label="邮箱" :label-width="formLabelWidth" prop="email">
                                            <el-input type="text" v-model="loginForm.email" auto-complete="off">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item type="text" label="验证码" :label-width="formLabelWidth" prop="code" v-if="dialogStatus=='res'">
                                            <el-input type="code" v-model="loginForm.code" auto-complete="off">
                                            </el-input>
                                            <el-button type="primary" v-if="dialogStatus=='res'" class="send-code" @click.native="sendCode()" :disabled="sendCodeBtn">
                                                发送验证码
                                            </el-button>
                                        </el-form-item>
                                        <el-form-item type="password" label="密码" :label-width="formLabelWidth" prop="password">
                                            <el-input type="password" v-model="loginForm.password" auto-complete="off">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item type="password" label="确认密码" :label-width="formLabelWidth" prop="respwd" v-if="dialogStatus=='res'">
                                            <el-input type="password" v-model="loginForm.respwd" auto-complete="off">
                                            </el-input>
                                        </el-form-item>
                                    </el-form>
                                </template>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer" v-if="activeName=='teacher'">
                        <el-button @click.native="closeDialog()">
                            取 消
                        </el-button>
                        <el-button type="primary" @click.native="dialogStatus=='res' ? register() : login()">
                            确 定
                        </el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>

<script>
  "use strict"
  var vm = new Vue({
    el: '#hello',
    data: function() {
      function validateResPassword(rule, value, callback) {
          if (value === '') {
              callback(new Error('请再次输入密码'));
          } else if (value !== vm.loginForm.password) {
              callback(new Error('两次输入密码不一致!'));
          } else {
              callback();
          }
      };
      function validateCode(rule, value, callback) {
          if (value === '') {
              callback(new Error('请输入验证码'));
          } else if (value !== vm.returnCode) {
              callback(new Error('验证码不正确'));
          } else {
              callback();
          }
      };
      function check_email(rule, value, callback) {
          var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          if (rule.required === true) {
              if (!value) {
                  callback(new Error('请输入邮箱地址'));
              } else {
                  setTimeout(function () {
                      if (!filter.test(value)) {
                          callback(new Error('请输入正确的邮箱地址'));
                      } else {
                        if(vm.dialogStatus == 'res'){
                          $.ajax({
                            type: 'get',
                            url: '/teacher/uniqueEmail',
                            data: { email:vm.loginForm.email },
                            dataType: 'json',
                            success: function(res) {
                              if(res.data){
                                callback();
                                vm.sendCodeBtn = false;
                              }else{
                                callback(new Error('有人使用该邮箱了呦'));  
                              }
                            }
                          })
                        } else if(vm.dialogStatus == 'login'){
                          $.ajax({
                            type: 'get',
                            url: '/teacher/uniqueEmail',
                            data: { email:vm.loginForm.email },
                            dataType: 'json',
                            success: function(res) {
                              if(res.data){
                                callback(new Error('请先注册！'));
                              }else{
                                callback();  
                              }
                            }
                          })
                        }
                      }
                  }, 200);
              }
          }
      };
      return { 
        dialogStatus: '',
        isDialog: false, 
        sendCodeBtn: true, 
        activeName: 'student',
        formLabelWidth: '100px',
        loginForm: { email:"", password:"", respwd:"",code:""},
        returnCode: '',
        rulesForm: {
          email: [{
            required: true,
            validator: check_email,
            triggle: 'blur'
          }],
          password: [
            { required: true, message: '请输入密码', trigger: 'blur' },
            { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' }
          ],
          respwd: [{
            required: true,
            validator: validateResPassword,
            triggle: 'blur'
          }],
          code: [{
            required: true,
            validator: validateCode,
            triggle: 'blur'
          }]
        }
      }
    },
     methods: {
      dialogSwitch: function(val) {
        if (vm.$refs['loginForm']!==undefined) {
          vm.$refs['loginForm'].resetFields();
        }
        vm.activeName   = 'student';
        vm.dialogStatus = val;
        vm.isDialog     = true;
      },
      closeDialog: function() {
        vm.isDialog     = false;
      },
      handleClick: function(tab, event) {
        if (vm.$refs['loginForm']!==undefined) {
          vm.$refs['loginForm'].resetFields();
        }
      },
      sendCode: function() {
        $.ajax({
          type: 'post',
          url: '/email/ajaxSend',
          dataType: 'json',
          data: { email: vm.loginForm.email },
          success: function(res) { 
            if(res.errcode == 0){
              vm.returnCode = res.data
              vm.$message.success(res.msg)
            }else{
              vm.$message.error(res.msg)
            }
          }
        })
      },
      login: function() {
          var userRole = vm.activeName
          if('teacher' == userRole){
            vm.$refs['loginForm'].validate(function(valid) {
              if(!valid){
                vm.$message.error("填写信息有误");
                return false
              }
              $.ajax({
                type: 'post',
                url: '/teacher/veriInfo',
                dataType: 'json',
                data: { email: vm.loginForm.email, pwd: $.md5(vm.loginForm.password) },
                success: function(res) { 
                  if(res.data){
                    vm.$message.success('登录成功');
                    vm.ajaxSetCookie();
                  }else{
                    vm.$message.error(res.msg)
                  }
                }
              })
            })
          }else if('student' == userRole){

          }
      },
      register: function() {
          var userRole = vm.activeName
          if('teacher' == userRole){
            vm.$refs['loginForm'].validate(function(valid) {
              if(!valid){
                vm.$message.error("填写信息有误");
                return false
              }
              vm.loginForm.password = $.md5(vm.loginForm.password)
              vm.loginForm.respwd = $.md5(vm.loginForm.respwd)
              $.ajax({
                type: 'post',
                url:'/teacher/addTea',
                dataType: 'json',
                data: vm.loginForm,
                success: function(res){
                  if(res.errcode == 0){
                    vm.$message.success("注册成功,开启你的学习之路吧");
                    vm.ajaxSetCookie();
                  }
                },
                error: function(res) {
                  vm.$message.error(res.msg);
                }
              })
            })
          }else if('student' == userRole){
            console.log('student')
          }
      },
      ajaxSetCookie: function(){
        $.ajax({
          type: 'get',
          url:'/login/teacherResigter',
          dataType: 'json',
          data: {email: vm.loginForm.email},
          success: function(res) {
            if(res.msg == 'teacher'){
              // window.location.href = '/#/teacher';
            }
          },
          error: function(res) {
            
          }
        })
      },
    }

  })
</script>
