<!DOCTYPE html><html><head><meta charset=utf-8><link rel=icon href=./favicon.ico type=image/x-icon><title>基于GitHub作业统计后台信息管理系统</title><link rel=stylesheet type=text/css href=./static/css/font-awesome.min.css><style type=text/css>[class^="el-icon-fa"], [class*=" el-icon-fa"] {
		        display: inline-block;
		        font: normal normal normal 14px/1 FontAwesome!important;
		        font-size: inherit;
		        text-rendering: auto;
		        -webkit-font-smoothing: antialiased;
		        -moz-osx-font-smoothing: grayscale;
		    }</style><link href=/public/dist/static/css/app.css?e2d3ce113f58c9756528 rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/public/dist/static/js/manifest.js?e2d3ce113f58c9756528></script><script type=text/javascript src=/public/dist/static/js/vendor.js?e2d3ce113f58c9756528></script><script type=text/javascript src=/public/dist/static/js/app.js?e2d3ce113f58c9756528></script></body></html>